
.frame-control-plugin-container {
    position: relative;
    height: 100px;
}

.frame-control-plugin-container .btn-left {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(
        90deg
        , rgba(90,90,90,1) 0%, rgba(0,0,0,0) 100%);
}

.frame-control-plugin-container .image-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 30px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.frame-control-plugin-container .btn-right {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(
        270deg
        , rgba(90,90,90,1) 0%, rgba(0,0,0,0) 100%);
}

.frame-control-plugin-container .image-list a {
    margin: 2px;
}

.frame-control-plugin-container .image-list a:last-child {
    border-right: 110px solid transparent;
}

.frame-control-plugin-container .image-list img {
    pointer-events: none;
}

.frame-control-plugin-container button {
    background-color: transparent;
    border: 0px;
}

.frame-control-plugin-container .button-icon {
    display: block;
    width: 15px;
}

.frame-control-plugin-container .button-icon svg {
    fill: white;
}
